[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gbcrosswalk"]
	path = gbcrosswalk
	url = https://github.com/robin621/gbcrosswalk
